body {
    font: 15px/1.5 'Times New Roman', Times, serif;
    background-color: rgb(196, 228, 255) ;
}

.container{
    width: 90%;
    margin: auto;
    overflow: hidden;
}

ul{
    margin: 0;
    padding: 0;
}

.button_1{
    height: 25px;
    background: rgb(196, 228, 255);
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    color: rgb(0, 31, 131);
}

header{
    background-color: rgb(0, 31, 131);
    color: rgb(226, 226, 226);
    padding-top: 30px;
    min-height: 70px;
    border-bottom: rgb(0, 31, 131) 3px solid;
}

header a{
    color: rgb(226, 226, 226);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header li{
    float: left;
    display: inline;
    padding: 0 5px 0 20px;
}

header #branding{
    float: left;

}
header #branding h1{
    margin: 0;
}

header nav{
    float: right;
    margin-top: 15px;
}

header .highlight, header .current a{
    color: darkorange;
    font-weight: bold;
}
header a:hover{
    color: darkorange;
}

/*Showcase*/
#showcase{
    min-height: 400px;
    background:url('../website\ images/web.wall.jpg') no-repeat 0-160px;
    text-align: center;
    color: rgb(255, 255, 255);
}

#showcase h1{
    margin-top: 0px;
    font-size: 55px;
    margin-bottom: 10px;
}

#showcase p{
    font-size: 20px;
}

#subscribers{
    padding: 15px;
    color: white;
    background-color: rgb(0, 31, 131) ;
}

#subscribers h1{
    float: left;
}
#subscribers form{
    float: right;
    margin-top: -35px;
} 

#subscribers input[type="numbers"]{
    padding:4px;
    height:25px;
    width: 250px;
}

/* boxes*/
#pictures{
    margin-top: 20px;
}

#pictures .pic1{
    float:left;
    width: 30%;
    padding: 60px;
    text-align: center;
}

#pictures .pic2{
    float:right;
    width: 30%;
    padding: 60px;
    text-align: center;
}
#pictures .picPer{
    float: right;
    width: 80%;
    padding: 80px;
    text-align: center;
}

footer{
    padding: 20px;
    margin-top: 20px;
    color: azure;
    background: rgb(0, 31, 131);
    text-align: center;
}

#projects .project2{
    float:right;
    width: 30%;
    padding: 60px;
    text-align: center;
}

#projects .project1{
    float:left;
    width: 30%;
    padding: 60px;
    text-align: center;
}